<div class="container">
  <h2>Sign Up  Form</h2>
  <form #signUpForm="ngForm">
    <div class="form-group">
      <label for="uname">UserName:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter UserName"  [(ngModel)]="username"  name="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter Password" [(ngModel)]="password" name="password">
    </div>
    <div class="form-group" >
        <label for="role">Role:</label>
        <select class="form-control" id="role" name="role" [(ngModel)]="role">
          <option>----------Select----------</option>
          <option value="ADMIN">Admin</option>
          <option value="USER">User</option>
        </select>
      
    </div>
    <button type="submit" class="btn btn-primary" (click)="signUpUser(username,password,role,signUpForm)">Sign Up</button>
  </form>
</div>